@import "mixins";
@import "range";

/*
	Reference styling for a colour picker
*/
span.color, input.color, input[type=color] {
	box-sizing: border-box;
	display : block;
	width : 100%;
	margin-bottom : 1em;
}
span.color {
	position : relative;
	span.color_button {
		border-radius: 2px;
		background: #ff0000;
		border : solid 1px #000;
		cursor : pointer;
		display : block;
		font-size : 10px;
		height : 15px;
		line-height : 1;
		margin : -8px 0 0 0;
		overflow : hidden;
		position : absolute;
		right : 1em;
		text-indent : 20px;
		top : 50%;
		width : 15px;
	}
}
/*
	color popup
*/
div.color_popup {
	box-sizing: border-box;
	background: linear-gradient(180deg, #ffffff 0%,#ffffff 80%,#ffffff 80%,#cccccc 100%);
	box-shadow: 0 1px 3px #999;
	border-radius: 3px;
	background-color : #ffffff;
	border : solid 1px #333;
	position : absolute;
	width : 16em;
	* {
		box-sizing: border-box;
	}
	fieldset {
		border : none;
		margin : 0;
		padding : 1em 1em 1em 1em;
		label {
			display : block;
			height : 2.5em;
			line-height : 2.5em;
			margin : 0.5em 0 0.5em 0;
			padding : 0;
			position : relative;
			vertical-align : middle;
			input {
				position : absolute;
				right : 0;
				text-align : right;
				top : 0;
				padding : 0.2em;
				height : 2em;
				width : 8em;
			}
		}
		span.range {
			margin : 0 0 1em 0;
		}
	}
}
div.color_popup.color_hidden {
	visibility : hidden;
}
div.color_popup.color_visible {
	visibility : visible;
}
